@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --darkGreen: #344E41;
  --lightGreen: #3A5A40;
  --pale: #dad4c1;
  --font: 'Inter', Arial;
  --lightGreenHover: #335038;
  --transitionFade: all ease-in-out 0.125s;
  --transitionButton: all ease-in-out 0.25s;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
}

.container {
  display: flex;
}

.leftSide {
  background-color: var(--darkGreen);
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 58%;
  height: 100vh;
}

.rightSide {
  background-color: var(--pale);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 42%;
  height: 100vh;
  gap: 30px;
  padding-top: 4.3rem;
  position: relative;
}

.toggleBTN {
  background-color: var(--lightGreen);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 280px;
  height: 50px;
  font-size: 28px;
  color: var(--pale);
  transition: var(--transitionFade);
  margin-bottom: 1.8rem;
}

.toggleBTN:hover {
  background-color: var(--lightGreenHover);
}

.DMY {
  border: none;
  background-color: transparent;
  width: 30rem;
  text-align: left;
  color: var(--pale);
  font-size: 10rem;
  font-weight: 500;
  font-family: var(--font);
  cursor: pointer;
  transition: var(--transitionButton);
}

.DMY:hover {
  padding-left: 2rem;
}

.line {
  position: absolute;
  left: -7rem;
  top: -4rem;
}

.DMY_container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.history-container {
  position: absolute;
  top: 36rem;
  left: 9rem;
}

.portal {
  width: 100vw;
  height: 100vh;
  background-color: var(--darkGreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Covidify {
  font-family: var(--font);
  color: var(--pale);
  font-size: 7rem;
  font-weight: 500;
  margin: 0px;
}

.slogan {
  margin: 0.5em 0px 0px 0px;
  font-family: var(--font);
  color: #dad4c1c4;
  font-weight: 400;
  font-size: 2rem;
}

.link {
  text-decoration: underline;
  color: var(--pale);
  transition: var(--transitionButton);
}

.link:hover {
  text-decoration: none;
}

.desc {
  font-family: var(--font);
  width: 55rem;
  text-align: center;
  font-size: 20px;
  color: var(--pale);
}

.trynow {
  background-color: var(--pale);
  color: var(--darkGreen);
  font-size: 1.3rem;
  font-family: var(--font);
  width: 10rem;
  font-weight: 500;
  height: 3rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}

.trynow:hover {
  padding-bottom: 3px;
}


