:root {
  --darkGreen: #344e41;
  --lightGreen: #3a5a40;
  --pale: #dad4c1;
  --font: "Inter", Arial;
  --lightGreenHover: #335038;
  --transitionFade: all ease-in-out 0.125s;
  --transitionButton: all ease-in-out 0.25s;
}

.twoLetter {
  width: 55px;
  height: 35px;
  background-color: var(--pale);
  border: none;
}

.fourLetter {
  width: 67px;
  height: 35px;
  background-color: var(--pale);
  border: none;
}

.twoLetter:disabled {
  background-color: #dad4c1af;
}

.fourLetter:disabled {
  background-color: #dad4c1af;
}

.range-container {
  display: flex;
  align-items: center;
}

.input-container {
  color: var(--pale);
}

input {
  outline: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

.filter-subtitle {
  font-size: 22px;
  margin: 10px 0px 10px 0px;
  color: white;
}

.currentDate {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  margin: 10px 0px 10px 0px;
  color: rgba(175, 175, 175, 0.822);
  cursor: pointer;

  transition: var(--transitionFade);
}

.currentDate:hover {
  color: rgb(175, 175, 175);
}

.submit {
  background-color: var(--lightGreen);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 280px;
  height: 50px;
  font-size: 28px;
  color: var(--pale);
  transition: var(--transitionFade);
}

.submit:hover {
  background-color: var(--lightGreenHover);
}

.receiptHistory {
  color: var(--darkGreen);
  font-family: var(--font);
}

.oldReceipt {
  color: var(--lightGreenHover);
  cursor: pointer;
  padding-bottom: 1rem;
  font-family: var(--font);
  font-size: 1.1rem;
  margin-left: 20px;
}

.oldReceipt:hover {
  text-decoration: underline;
}
