.lineStyle {
    height: 43rem;
    width: 3px;
    background-color: #DAD7CD;
    position: relative;
}

.titleStyle {
    font-family: Arial;
    color: rgba(0, 0, 0, 0.60);
    font-size: 2.7rem;
    top: -55px;
    left: -30px; 
    width: 410px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.titleStyle:hover {
    color: rgba(26, 26, 26, 0.801);
}
